
@{
    ViewBag.Title = "Portfolio";
}

<Title>@ViewBag.Title</Title>

<section class="portfolio_area section_gap_top" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main_title text-left">
                    <h2 style="text-align:center">
                        Personal Projects <br>
                        Projects completed to improve my skills
                    </h2>
                </div>
            </div>
        </div>
        <div class="filters-content">
            <div class="row portfolio-grid justify-content-center">
                <div class="col-lg-4 col-md-6 all latest">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img class="img-fluid w-100" src="~/Content/img/portfolio/LMS.PNG" alt="">
                            <div class="overlay"></div>
                            <a href="~/Content/img/portfolio/LMS.PNG" class="img-gal">
                                <div class="icon">
                                    <span class="lnr lnr-cross"></span>
                                </div>
                            </a>
                        </div>
                        <div class="short_info">
                            <h4><a href="http://fsdp.loganrothrock.com/">Learning Management System</a></h4>
                            <p>A LMS that allows employees to take lessons given to then by their employer whenever. Using MVC and SQL </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 all popular">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img class="img-fluid w-100" src="~/Content/img/portfolio/DungeonOverView.PNG" alt="">
                            <div class="overlay"></div>
                            <a href="~/Content/img/portfolio/DungeonOverView.PNG" class="img-gal">
                                <div class="icon">
                                    <span class="lnr lnr-cross"></span>
                                </div>
                            </a>
                        </div>
                        <div class="short_info">
                            <h4><a href="https://github.com/LoganRothrock/DungeonGame">Dungeon Crawler</a></h4>
                            <p>Text-Based dugeon game using C#</p>
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-4 col-md-6 all latest">
                    <div class="portfolio_box">
                        <div class="single_portfolio">
                            <img class="img-fluid w-100" src="~/Content/img/portfolio/p3.jpg" alt="">
                            <div class="overlay"></div>
                            <a href="~/Content/img/portfolio/p3.jpg" class="img-gal">
                                <div class="icon">
                                    <span class="lnr lnr-cross"></span>
                                </div>
                            </a>
                        </div>
                        <div class="short_info">
                            <h4><a href="http://storefront.loganrothrock.com/">Fantasy General Store</a></h4>
                            <p>Fantasy Themed StoreFront application utilizing MVC and SQL</p>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>
<!--================End Portfolio Area =================-->
